.header-home {
    padding: 2rem 0;
    background: #FFFDFF;
    box-shadow: -3px 1px 7px 1px rgba(141, 120, 144, 0.3);
}

.header-container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.header-logo-home {
    width: 150px;
}

.header-menu-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item-home > li {
    list-style: none;
    margin: 0 4rem;
}

.header-menu-item-home > li > a {
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.nav-buttons-home {
    font-size: 2rem;
    height: 2rem;
}